/* =======================================*/
/*
/* GRID CONFIG
/*
/* =======================================*/

$whitespace: 20px;

$breakpoints: (
  'xs'  : 0px,
  's'   : 485px,
  'm'   : 650px,
  'l'   : 800px,
  'xl'  : 960px,
  'xxl' : 1275px
);

/* =======================================*/
/* DEBUGGING HELPERS
/* =======================================*/
$debug-grid     : false;
$debug-queries  : false;

/* =======================================*/
/* EXPERIMENTAL FEATURES
/* =======================================*/
// Element Queries
// <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.1.0/EQCSS.min.js"></script>
$use-elementqueries    : false;
