&{

  .app-footer-container{
    @include container();
    @include grid($justify: space-between);
    padding: $whitespace 0;

    @include respond-below(xxl) {margin: 0 $whitespace;}
  }

  .app-footer-copyright{}

  .app-footer-navigation{}

  .app-footer-link{

    &:not(:last-child){padding-right: $whitespace;}

    &:before {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-right: $whitespace;
    }
  }
}
