<section class="app-footer-container">
  <div class="app-footer-copyright">Copyright</div>
  <div class="app-footer-navigation">
    {{#link-to 'page-hfc-components' class="app-footer-link"}}HFC Components{{/link-to}}
    {{#link-to 'index' class="app-footer-link"}}Datenschutz{{/link-to}}
    {{#link-to 'index' class="app-footer-link"}}Impressum{{/link-to}}
  </div>
</section>