<section class="app-footer-container">
  <div class="app-footer-copyright">Copyright</div>
  <div class="app-footer-navigation">
    <a href="#" class="app-footer-link">Facebook</a>
    <a href="#" class="app-footer-link">Datenschutz</a>
    <a href="#" class="app-footer-link">Impressum</a>
  </div>
</section>