&{
  @include flexbox();

  .hfc-gallery-image{
    @include flexbox($align: center, $justify: center);
    @include column(1/2, $gutter: true);
    @include respond-above(l) {@include column(1/3, $gutter: true);}
    @include respond-above(xl) {@include column(1/6, $gutter: true);}
    @include overlay($icon: 'fa-search');
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
