&{
  @include flexbox();

  .hfc-gallery-image{
    @include flexbox($align: center, $justify: center);
    @include column(1/2, $gutter: true);
    @include respond-above(l) {@include column(1/4, $gutter: true);}
    @include respond-above(xl) {@include column(1/6, $gutter: true);}
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative; // For: Overlay

    // Overlay
    &:before {
      @include transition();
      @include position(absolute, $top:0, $right:0, $bottom:0, $left:0);
      content: '';
      background: $color-brand;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
    &:hover {
      &:before{
        opacity: .7;
      }
    }

    // Icon
    &:after {
      @include transition();
      @include flexbox($align: center, $justify: center);
      content:'\f002';
      font-family: FontAwesome;
      color: #fff;
      border: 2px solid #fff;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      opacity: 0;
      transform: scale(0.5);
    }
    &:hover {
      &:after{
        opacity: 1;
        transform: scale(1);
      }
    }

  }
}
