<a href="#" class="hfc-gallery-image" style="background-image: url('images/placeholder1.png')"></a>
<a href="#" class="hfc-gallery-image" style="background-image: url('images/placeholder2.png')"></a>
<a href="#" class="hfc-gallery-image" style="background-image: url('images/placeholder3.png')"></a>
<a href="#" class="hfc-gallery-image" style="background-image: url('images/placeholder1.png')"></a>
<a href="#" class="hfc-gallery-image" style="background-image: url('images/placeholder2.png')"></a>
<a href="#" class="hfc-gallery-image" style="background-image: url('images/placeholder3.png')"></a>
