<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>
<a href="#" class="hfc-gallery-image">
  <img src="/images/placeholder.png" alt="">
</a>