& {
  // LABEL
  .hfc-form-radiobutton-label {
    display: inline-block;
    margin-bottom: ($whitespace*0.5);
    cursor: pointer;
  }

  // RADIOBUTTON
  .hfc-form-radiobutton {
    @include radiobutton();
  }
}
