&{
  border-bottom: $border;
  padding-bottom: $whitespace;
  margin-bottom: $whitespace;

  .app-breadcrumb-link {
    color: $color-text;

    &:not(:last-child) {
      &:after {
        content: '\f105';
        font-family: FontAwesome;
        color: $color-grey;
        padding: 0 ($whitespace*0.5);
      }
    }

    &:last-child {}
  }
}
