&{
  border-bottom: $border;
  padding-bottom: $whitespace;
  margin-bottom: $whitespace;

  @include respond-below(m) {
    display: none;
  }

  .app-breadcrumb-link {
    color: $color-text;

    &:not(:last-child) {
      @include icon('fa-caret-right', $position: after, $margin: 0 10px);
    }

    &:last-child {}
  }
}
