&{
  background: $color-brand;
  margin-bottom: $whitespace;

  .nav-main-container {
    @include container();
    @include flexbox($justify: space-between, $align: center);
    @include respond-below(xxl) {padding-right: $whitespace; padding-left: $whitespace;}
  }

  /* =======================================*/
  /* SMARTMENUS - NAV ICON
  /* =======================================*/
  .nav-main-container-mobile-icon{
    @include button($color: transparent);
    @include respond-above(m) {display: none;}
    font-style: normal;
    font-size: 21px;
    z-index: 1000;

    &:before{
      content: '\f0c9';
      font-family: FontAwesome;
    }

    &.is-open {
      @include transition(transform, $duration: 450ms, $type: easeOutSine);
      @include position(fixed, $top: 0, $right: 0);
      transform: scaleX(45) scaleY(85);
      border-radius: 100%;
      background: rgba(255,255,255,0.65);
      margin: 0;
      &:before{opacity: 0;}
    }
  }

  /* =======================================*/
  /* SMARTMENUS - MOBILE VERSION
  /* =======================================*/
  .nav-main-theme {
    @include transition();
    @include position(fixed, $top: 0, $right: 0);
    height: 100%;
    width: 350px;
    background: $color-brand;
    transform: translateX(370px);
    overflow: scroll;
    &.is-open{transform: translateX(0px);}

    a {
      color: #fff;
      font-size: $font-size + 2;
      padding: $whitespace;

      &:hover,
      &:focus,
      &:active,
      &.highlighted,
      &.current,
      &.active {background: darken($color-brand, 5%);}
      &.disabled {opacity: 0.5;}

      &.has-submenu {}
      .sub-arrow {
        float: right;
        padding-left: ($whitespace*0.5);

        &:after{
          content: '\f0d7';
          font-family: FontAwesome;
        }
      }
    }

    & li {}
    & > li {}

    /* SMARTMENUS - MOBILE - LEVEL 2
    /* ============================*/
    & ul {
      background: darken($color-brand, 5%);

      & a {
        &:hover,
        &:focus,
        &:active {background: darken($color-brand, 7%);}
      }
    }

    /* SMARTMENUS - MOBILE - LEVEL 3
    /* ============================*/
    & ul ul {
      background: darken($color-brand, 7%);

      & a {
        &:hover,
        &:focus,
        &:active {background: darken($color-brand, 10%);}
      }
    }

    /* SMARTMENUS - MOBILE - LEVEL 4
    /* ============================*/
    & ul ul ul {
      background: darken($color-brand, 10%);

      & a {
        &:hover,
        &:focus,
        &:active {background: darken($color-brand, 13%);}
      }
    }
  }

  /* =======================================*/
  /* SMARTMENUS - DESKTOP VERSION
  /* =======================================*/
  @include respond-above(m) {
    /* start... (don't touch these) */
    .nav-main-theme {
      ul {position: absolute;width: 12em;}
      li {float: left;}
      a {white-space: nowrap;}
      .sm-rtl li {float: right;}
      ul li,
      .sm-rtl ul li,
      .sm-vertical li {float: none;}
      ul a,
      .sm-vertical a {white-space: normal;}
      .sm-nowrap > li > a,
      .sm-nowrap > li > :not(ul) a {white-space: nowrap;}
    }/* ...end (don't touch these) */

    .nav-main-theme {
      @include position(relative, $top: 0, $right: 0);
      height: inherit;
      width: inherit;
      background: transparent;
      transform: none;

      a {

        &:hover,
        &:focus,
        &:active,
        &.highlighted,
        &.current,
        &.active {background: darken($color-brand, 5%) !important;}
        &.disabled {}

        &.has-submenu {}
        .sub-arrow {}
      }

      & > li {}

      /* SMARTMENUS - DESKTOP - LEVEL 2
      /* ============================*/
      & ul {
        background: #fff;

        a {
          color: $color-text;

          &:hover,
          &:focus,
          &:active,
          &.highlighted,
          &.current,
          &.active {color: #fff;}

          &.has-submenu {}
          .sub-arrow {
            &:after{content: '\f0da';}
          }
        }
      }

      /* SMARTMENUS - DESKTOP - LEVEL 3
      /* ============================*/
      & ul ul {
        background: #fff;

        & a {
          color: $color-text;

          &:hover,
          &:focus,
          &:active {}
        }
      }

      /* SMARTMENUS - DESKTOP - LEVEL 4
      /* ============================*/
      & ul ul ul {
        background: #fff;

        & a {
          color: $color-text;

          &:hover,
          &:focus,
          &:active {}
        }
      }
      & ul ul ul ul {
        background: #fff;

        & a {
          color: $color-text;

          &:hover,
          &:focus,
          &:active {}
        }
      }

      /* SMARTMENUS - DESKTOP - SCROLL ARROWS
      /* ============================*/
      // For: Submenus above viewport height
      span {
        &.scroll-up,
        &.scroll-down {
          position: absolute;
          display: none;
          visibility: hidden;
          overflow: hidden;
          background: darken($color-brand, 5%);;
          height: $whitespace;
        }
        &.scroll-up-arrow,
        &.scroll-down-arrow {
          position: absolute;
          top: -2px;
          left: 50%;
          margin-left: -8px;
          width: 0;
          height: 0;
          overflow: hidden;
          border-width: 8px;
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #fff transparent;
        }
        &.scroll-down-arrow {
          top: 6px;
          border-style: solid dashed dashed dashed;
          border-color: #fff transparent transparent transparent;
        }
      }
    }
  }
}

