<nav class="nav-main-container">
  {{!-- Logo --}}
  {{app-logo}}

  {{!-- Mobile Navigation Icon --}}
  <i class="nav-main-container-mobile-icon {{if isOpen 'is-open'}}" {{action "toggleNavigation"}}></i>

  {{!-- Navigation --}}
  <ul id="nav-main" class="sm nav-main-theme {{if isOpen 'is-open'}}">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'page-hfc-components'}}HFC Components{{/link-to}}
      <ul>
        <li>{{#link-to 'page-hfc-components.page-hfc-teaser-single'}}1xTeaser{{/link-to}}</li>
        <li>{{#link-to 'page-hfc-components.page-hfc-teaser-double'}}2xTeaser{{/link-to}}</li>
        <li>{{#link-to 'page-hfc-components.page-hfc-teaser-triple'}}3xTeaser{{/link-to}}</li>
        <li>{{#link-to 'page-hfc-components.page-hfc-downloads'}}Downloads{{/link-to}}</li>
        <li>{{#link-to 'page-hfc-components.page-hfc-gallery'}}Gallery{{/link-to}}</li>
        <li>{{#link-to 'page-hfc-components.page-hfc-content'}}Content{{/link-to}}</li>
        <li>{{#link-to 'page-hfc-components.page-hfc-forms'}}Forms{{/link-to}}</li>
      </ul>
    </li>
  </ul>
</nav>
