&{

  .nav-top-container {
    @include container();
    @include grid($justify: flex-end, $align: center);
  }

  .nav-top-item {
    color: $color-text;
    padding: ($whitespace*0.75) $whitespace;

    &:hover,
    &.active {
      color: $color-brand;
    }
  }
}
