&{
  @include flexbox();

  .teaser-container {
    @include flexbox($align: stretch);
    @include column(1/1, $gutter: $whitespace);
    @include respond-above(s) {@include column(1/2, $gutter: $whitespace);}
    @include respond-above(m) {@include column(1/1, $gutter: $whitespace);}
    box-shadow: $box-shadow;
  }

  .teaser-image{
    @include column(1/1);
    @include respond-above(l) {@include column($width-sidebar);}
    min-height: 150px;
    min-height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
  }

  .teaser-container-inner {
    @include flexbox($direction: column, $align: strech, $justify: start);
    align-self: stretch;
    @include column(1/1);
    @include respond-above(l) {@include column();}
  }

  .teaser-title {
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    border-bottom: 2px solid $color-brand;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .teaser-content{
    flex: 1;
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    font-size: $font-size-s;
  }

  .teaser-controls {
    padding: ($whitespace*0.75) $whitespace;
    border-top: $border;
  }
}
