&{
  @include flexbox();

  .teaser-container {
    @include flexbox();
    @include column(1/1);
  }

  .teaser-image{
    @include column(1/3, $gutter: $whitespace);
    overflow: hidden;
  }

  .teaser-container-inner {
    @include column(2/3, $gutter: $whitespace);
  }

  .teaser-title {
    color: #fff;
    background: $color-brand;
    padding: ($whitespace*0.25) ($whitespace*0.5);
    margin-bottom: ($whitespace*0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .teaser-content{}
}
