<section class="teaser-container">
  <div class="teaser-image">
    <img src="images/placeholder.png" alt="Image">
  </div>
  <p class="teaser-content">
    <h3 class="teaser-title">Teaser Title</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus consequuntur id dolor deserunt cumque dolorem. Dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, veritatis. Lorem ipsum dolor sit amet.
  </p>
</section>