<section class="teaser-container">
  <a href="#" class="teaser-image" style="background-image: url('images/{{image}}')"></a>
  <div class="teaser-container-inner">
    <a href="#" class="teaser-title">Teaser Title</a>
    <p class="teaser-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus conseue dolorem.</p>
    <a href="#" class="teaser-controls">Weiterlesen</a>
  </div>
</section>