<section class="teaser-container">
  <h4 class="teaser-title">Teaser Title</h4>
  <a href="#" class="teaser-image" style="background-image: url('images/placeholder.png')"></a>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis.
  </p>
  <a href="#" class="teaser-controls">Weiterlesen</a>
</section>

<section class="teaser-container">
  <h4 class="teaser-title">Teaser Title</h4>
  <a href="#" class="teaser-image" style="background-image: url('images/placeholder.png')"></a>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis.
  </p>
  <a href="#" class="teaser-controls">Weiterlesen</a>
</section>

<section class="teaser-container">
  <h4 class="teaser-title">Teaser Title</h4>
  <a href="#" class="teaser-image" style="background-image: url('images/placeholder.png')"></a>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis.
  </p>
  <a href="#" class="teaser-controls">Weiterlesen</a>
</section>
