<section class="teaser-container">
  <h3 class="teaser-title">Teaser Title</h3>
  <div class="teaser-image">
    <img src="images/placeholder.png" alt="Image">
  </div>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis.
  </p>
</section>

<section class="teaser-container">
  <h3 class="teaser-title">Teaser Title</h3>
  <div class="teaser-image">
    <img src="images/placeholder.png" alt="Image">
  </div>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis.
  </p>
</section>

<section class="teaser-container">
  <h3 class="teaser-title">Teaser Title</h3>
  <div class="teaser-image">
    <img src="images/placeholder.png" alt="Image">
  </div>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis.
  </p>
</section>