<h2>3 x Teaser</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<hr>

{{!-- Teaser Triple --}}
{{#hfc-teaser}}
  {{hfc-teaser.hfc-teaser-triple image="images/placeholder1.png"}}
  {{hfc-teaser.hfc-teaser-triple image="images/placeholder1.png"}}
  {{hfc-teaser.hfc-teaser-triple image="images/placeholder1.png"}}
{{/hfc-teaser}}