&{

  .swiper-slide {
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: 50%;
    position: relative;
  }

  /* =======================================*/
  /* SWIPER SLIDER - CONTENT
  /* =======================================*/
  .swiper-slide-content-wrapper{
    @include position(absolute, $bottom: 0px, $left: 0px, $right: 0);
    padding: $whitespace;
  }
  .swiper-slide-title{}
  .swiper-slide-content{}

}
