& {
  @include grid();

  &:not(:last-child){
    border-bottom: $border;
    margin-bottom: ($whitespace*2);
  }

  .module-news-list-title {
    width: 100%; //For: Headlines break layout on mobile
    margin-bottom: $whitespace;
  }
}
