<h2>Galleries</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<hr>

{{hfc-gallery image1="placeholder1.png" image2="placeholder2.png" image3="placeholder3.png" image4="placeholder1.png" image5="placeholder2.png" image6="placeholder3.png"}}
{{hfc-gallery image1="placeholder1.png" image2="placeholder2.png" image3="placeholder3.png" image4="placeholder1.png" image5="placeholder2.png" image6="placeholder3.png"}}

<h2>Eine weitere Überschrift</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>

{{hfc-gallery image1="placeholder1.png" image2="placeholder2.png" image3="placeholder3.png" image4="placeholder1.png" image5="placeholder2.png" image6="placeholder3.png"}}
{{hfc-gallery image1="placeholder1.png" image2="placeholder2.png" image3="placeholder3.png" image4="placeholder1.png" image5="placeholder2.png" image6="placeholder3.png"}}