&{
  border: $border;
  padding: $whitespace;
  margin-bottom: $whitespace;

  .hfc-infobox-title {}

  .hfc-infobox-image{
    margin-bottom: ($whitespace*0.5);
  }

  .hfc-infobox-content {}

  .hfc-infobox-link {

    &:before{
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-right: ($whitespace*0.25);
    }
  }
}
