&{
  @include flexbox();

  .teaser-container {
    @include column(1/2, $gutter: $whitespace);
  }

  .teaser-image{
    overflow: hidden;
    margin-bottom: ($whitespace*0.5);
  }

  .teaser-title {
    color: #fff;
    background: $color-brand;
    padding: ($whitespace*0.5);
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .teaser-content{}
}
