&{
  @include flexbox();

  .teaser-container {
    @include column(1/1, $gutter: $whitespace);
    @include respond-above(s) {@include column(1/2, $gutter: $whitespace);}
    @include respond-above(m) {@include column(1/1, $gutter: $whitespace);}
    @include respond-above(l) {@include column(1/2, $gutter: $whitespace);}
    box-shadow: $box-shadow;
  }

  .teaser-image{
    height: 150px;
    height: 25vh;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    display: block;
  }

  .teaser-title {
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    border-bottom: 2px solid $color-brand;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .teaser-content{
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    font-size: $font-size-s;
  }

  .teaser-controls {
    display: block;
    color: $color-headline;
    padding: ($whitespace*0.75) $whitespace;
    border-top: $border;
  }
}
