<section class="teaser-container">
  <a href="#" class="teaser-title">Teaser Title</a>
  <a href="#" class="teaser-image" style="background-image: url('images/placeholder1.png')"></a>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus consequuntur id dolor deserunt cumque dolorem.
  </p>
  <a href="#" class="teaser-controls">Weiterlesen</a>
</section>

<section class="teaser-container">
  <a href="#" class="teaser-title">Teaser Title</a>
  <a href="#" class="teaser-image" style="background-image: url('images/placeholder2.png')"></a>
  <p class="teaser-content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus consequuntur id dolor deserunt cumque dolorem.
  </p>
  <a href="#" class="teaser-controls">Weiterlesen</a>
</section>