<!-- Name -->
<div class="hfc-form">
  <label class="hfc-form-label">Name</label>
  <input class="hfc-form-input" type="text" placeholder="Name" size="1"/>
</div>
<!-- Nachname -->
<div class="hfc-form">
  <label class="hfc-form-label">Nachname</label>
  <input class="hfc-form-input" type="text" placeholder="Nachname" size="1"/>
</div>
<!-- Telefon -->
<div class="hfc-form">
  <label class="hfc-form-label">Telefon</label>
  <input class="hfc-form-input" type="text" placeholder="Telefon" size="1"/>
</div>
<!-- Email -->
<div class="hfc-form">
  <label class="hfc-form-label">Email</label>
  <input class="hfc-form-input" type="text" placeholder="Email" size="1"/>
</div>
<!-- Nachricht -->
<div class="hfc-form">
  <label class="hfc-form-label">Nachricht</label>
  <textarea class="hfc-form-input" type="text" placeholder="Nachricht" rows="10"/>
</div>
<!-- Controls -->
<div class="hfc-form-controls">
  <!-- Submit -->
  <input class="hfc-form-submit" type="submit" value="Senden" />
</div>
