<ul class="hfc-infobox-downloads-list">
  <li class="hfc-infobox-downloads-list-item"><a href="assets/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="hfc-infobox-downloads-list-item"><a href="assets/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="hfc-infobox-downloads-list-item"><a href="assets/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="hfc-infobox-downloads-list-item"><a href="assets/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="hfc-infobox-downloads-list-item"><a href="assets/other/placeholder.pdf" target="_blank">Download Title</a></li>
</ul>