<section class="teaser-container">
  {{!-- Image --}}
  {{#if image}}
    {{#link-to _link class="teaser-image" style=backgroundImage}}{{/link-to}}
  {{/if}}
  <div class="teaser-container-inner">
    {{!-- Title --}}
    {{#link-to _link class="teaser-title"}}{{_title}}{{/link-to}}
    {{!-- Content --}}
    <p class="teaser-content">{{_content}}</p>
    {{!-- Link --}}
    {{#link-to _link class="teaser-link"}}Weiterlesen{{/link-to}}
  </div>
</section>