&{
  &:not(:last-child) {margin-bottom: $whitespace;}

  .hfc-content-container {
    @include grid();
  }

  .hfc-content-title {
    @include column('1/1', $gutter: true);
    margin-bottom: $whitespace;
  }

  .hfc-content-image {
    @include column('1/1', $gutter: ($whitespace*2));
    @include respond-above(xl) {@include column('1/4', $gutter: true);}
    @include overlay($icon: 'fa-search');
    min-height: 125px;
    height: 15vh;
    border: $border;
    box-shadow: 0px 0px 0px 5px white inset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &.hfc-content-image-left {}
    &.hfc-content-image-right {
      @include respond-above(xl) {
        order: 2; // mobile fix
        margin: 0 0 0 $whitespace;
      }
    }

    .hfc-content-image-subtitle {
      @include position(absolute, $bottom: (-$whitespace*1.25), $left:0);
      font-size: $font-size-s;
      color: darken($color-grey, 25%);
    }
  }

  .hfc-content-content {
    @include column('1/1');
    @include respond-above(xl) {
      @include column('auto', $gutter: true);
    }
  }
}
