<h1>HFC Components</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ut accusantium quaerat consequatur voluptatem magnam quidem animi, omnis, reiciendis voluptatibus iure vitae architecto facere numquam. Porro vero voluptas velit odit.</p>
<hr>
<ul>
  <li>{{#link-to 'page-hfc-components.page-hfc-teaser-single'}}Teaser Single{{/link-to}}</li>
  <li>{{#link-to 'page-hfc-components.page-hfc-teaser-double'}}Teaser Double{{/link-to}}</li>
  <li>{{#link-to 'page-hfc-components.page-hfc-teaser-triple'}}Teaser Triple{{/link-to}}</li>
  <li>{{#link-to 'page-hfc-components.page-hfc-download'}}Teaser Downloads{{/link-to}}</li>
  <li>{{#link-to 'page-hfc-components.page-hfc-gallery'}}Teaser Gallery{{/link-to}}</li>
  <li>{{#link-to 'page-hfc-components.page-hfc-text-image'}}Teaser Text & Image{{/link-to}}</li>
  <li>{{#link-to 'page-hfc-components.page-hfc-contact'}}Teaser Contact{{/link-to}}</li>
</ul>
<hr>

{{outlet}}
