&{
  @include flexbox();

  .download-container {
    @include flexbox();
    @include column('1/1', $gutter: $whitespace);
    @include respond-above(m) {@include column('1/1', $gutter: $whitespace);}
    box-shadow: $box-shadow;
    border-left: 2px solid $color-brand;
  }

  .download-container-inner {
    @include flexbox();
    @include column('auto');
     width: inherit; //For: fix auto column 'bug'
  }

  .download-title {
    @include flexbox($align: center, $justify: start, $wrap: nowrap);
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .download-type {
      color: #fff;
      font-size: $font-size-s;
      font-family: $font-family-text;
      padding: ($whitespace*0.25) ($whitespace*0.5);
      margin-right: ($whitespace*0.5);
      background: darken($color-brand, 7%);
    }
  }

  .download-content {
    width: 100%; //For: short content bug
    padding: ($whitespace*0.75) $whitespace;
    font-size: $font-size-s;
    border-top: $border;
  }

  .download-controls{
    @include flexbox();
    @include respond-below(l) {
      @include column('1/1');
      border-top: $border;
    }
    align-self: stretch;
  }

  .download-size,
  .download-link{
    padding: ($whitespace*0.97) $whitespace;
    border-left: $border;
  }
  .download-size{
    color: darken($color-grey, 25%);
    @include respond-below(l) {border: 0;}
  }
  .download-link{
    @include overlay($icon: 'fa-download', $icon-width: s, $icon-height: s);
    align-self: stretch;
  }
}
