&{
  @include flexbox();
  margin-bottom: $whitespace;
  border: $border;

  .download-content {
    @include flexbox();
    @include column();
  }

  .download-controls{
    @include flexbox();
    align-self: stretch;
  }

  .download-size,
  .download-link{
    padding: ($whitespace*0.45) $whitespace ($whitespace*0.25) $whitespace;
  }

  .download-size{
    color: darken($color-grey, 25%);
  }

  .download-link{
    align-self: stretch;
  }

  .download-title {
    @include flexbox($justify: start, $align: center);
    @include column(1/1);
    color: #fff;
    background: $color-brand;
    padding: ($whitespace*0.25) ($whitespace*0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .download-type {
      font-weight: normal;
      font-family: $font-family-text;
      background: darken($color-brand, 7%);
      padding: ($whitespace*0.25) ($whitespace*0.5);
      margin-right: ($whitespace*0.5);
      font-size: $font-size - 2;
    }
  }
  .download-text {
    padding: $whitespace;
  }
}
