&{
  @include flexbox();

  .download-container {
    @include flexbox();
    @include column(1/1, $gutter: $whitespace);
    @include respond-above(m) {@include column(1/1, $gutter: $whitespace);}
    box-shadow: $box-shadow;
    border-left: 2px solid $color-brand;
  }

  .download-container-inner {
    @include flexbox();
    @include column();
  }

  .download-title {
    @include flexbox($align: center, $justify: start, $wrap: nowrap);
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .download-type {
      color: #fff;
      font-size: $font-size-s;
      font-family: $font-family-text;
      padding: ($whitespace*0.25) ($whitespace*0.5);
      margin-right: ($whitespace*0.5);
      background: darken($color-brand, 7%);
    }
  }

  .download-content {
    padding: ($whitespace*0.75) $whitespace;
    font-size: $font-size-s;
    border-top: $border;
  }

  .download-controls{
    @include flexbox();
    @include respond-below(l) {
      @include column(1/1);
      border-top: $border;
    }
    align-self: stretch;
  }

  .download-size,
  .download-link{
    padding: ($whitespace*0.97) $whitespace;
    border-left: $border;
  }
  .download-size{
    color: darken($color-grey, 25%);
    @include respond-below(l) {border: 0;}
  }
  .download-link{
    align-self: stretch;
    position: relative; //For: Overlay

    // OVERLAY DIMMER
    &:before {
      @include transition();
      @include position(absolute, $top:0, $right:0, $bottom:0, $left:0);
      content: '';
      background: $color-brand;
      opacity: 0;
    }
    &:hover {
      &:before{
        opacity: .7;
      }
    }

    // OVERLAY ICON
    &:after {
      @include transition();
      @include flexbox($align: center, $justify: center);
      @include position(absolute, $top:calc(50% - #{($whitespace*1.5)}), $left:calc(50% - #{($whitespace*1.5)}));
      content:'\f019';
      font-family: FontAwesome;
      font-size: $font-size-xl;
      height: ($whitespace*3);
      width: ($whitespace*3);
      color: #fff;
      border: 2px solid #fff;
      border-radius: 100%;
      opacity: 0;
      transform: scale(0.5);
    }
    &:hover {
      &:after{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
