<div class="download-content">
  <h3 class="download-title">
    <span class="download-type">PDF</span>
    Titel des Downloads
  </h3>
  {{#if text}}
    <p class="download-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus consequuntur id dolor deserunt cumque dolorem.</p>
  {{/if}}
</div>
<div class="download-controls">
  <div class="download-size">125kb</div>
  <a class="download-link" href="/other/placeholder.pdf" target="_blank">Download</a>
</div>
