<div class="download-container">
  <div class="download-container-inner">
    <h4 class="download-title">
      <span class="download-type">PDF</span>Titel des Downloads
    </h4>
    {{#if text}}
      <p class="download-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus consequuntur id dolor deserunt cumque dolorem.</p>
    {{/if}}
  </div>
  <div class="download-controls">
    <div class="download-size">125kb</div>
    <a class="download-link" href="/other/placeholder.pdf" target="_blank">Download</a>
  </div>
</div>
