<ul class="sidebar-downloads-container">
  <li class="sidebar-downloads-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-downloads-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-downloads-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-downloads-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-downloads-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
</ul>
