&{
  margin-bottom: $whitespace;

  /* =======================================*/
  /* SWIPER SLIDER
  /* =======================================*/
  .swiper-container {
    @include container();
    background: #fff;
    border: $border;
  }

  .swiper-slide{
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: 50%;
    position: relative;
  }

  /* SWIPER SLIDER - CONTENT
  /* =====================*/
  .swiper-slide-content{
    @include position(absolute, $bottom: 0px, $left: 0px, $right: 0);
    padding: $whitespace;
  }
  .swiper-slide-headline{}
  .swiper-slide-text{}

  /* SWIPER SLIDER - NAVIGATION
  /* ========================*/
  .swiper-button-next,
  .swiper-button-prev {
    @include flexbox($align: center);
    height: ($whitespace*3);
    width: ($whitespace*3);
    border: $border;
    background: #fff;
    &:before {
      font-family: 'FontAwesome';
      color: $color-brand;
    }
  }

  .swiper-button-next{
    margin-right: (-$whitespace*2);
    padding-left: ($whitespace*0.55);
    &:before{content: '\f054';}
  }

  .swiper-button-prev{
    margin-left: (-$whitespace*2);
    padding-left: ($whitespace*1.85);
    &:before{content: '\f053';}
  }

  /* SWIPER SLIDER - PAGINATION
  /* ========================*/
  .swiper-pagination-bullet-active {
    background: $color-brand;
  }
}
