<!-- Name -->
<div class="hfc-contact">
  <span class="hfc-contact-addon">Name</span>
  <input class="hfc-contact-input" type="text" placeholder="Name" />
</div>
<!-- Nachname -->
<div class="hfc-contact">
  <span class="hfc-contact-addon">Nachname</span>
  <input class="hfc-contact-input" type="text" placeholder="Nachname" />
</div>
<!-- Telefon -->
<div class="hfc-contact">
  <span class="hfc-contact-addon">Telefon</span>
  <input class="hfc-contact-input" type="text" placeholder="Telefon" />
</div>
<!-- Email -->
<div class="hfc-contact">
  <span class="hfc-contact-addon">Email</span>
  <input class="hfc-contact-input" type="text" placeholder="Email" />
</div>
<!-- Nachricht -->
<div class="hfc-contact">
  <span class="hfc-contact-addon">Nachricht</span>
  <textarea class="hfc-contact-input" type="text" placeholder="Nachricht" rows="10" />
</div>
<!-- Controls -->
<div class="hfc-contact-controls">
  <!-- Submit -->
  <input class="hfc-contact-submit" type="submit" value="Senden" />
</div>
