<!-- Name -->
<div class="hfc-contact">
  <label class="hfc-contact-label">Name</label>
  <input class="hfc-contact-input" type="text" placeholder="Name" />
</div>
<!-- Nachname -->
<div class="hfc-contact">
  <label class="hfc-contact-label">Nachname</label>
  <input class="hfc-contact-input" type="text" placeholder="Nachname" />
</div>
<!-- Telefon -->
<div class="hfc-contact">
  <label class="hfc-contact-label">Telefon</label>
  <input class="hfc-contact-input" type="text" placeholder="Telefon" />
</div>
<!-- Email -->
<div class="hfc-contact">
  <label class="hfc-contact-label">Email</label>
  <input class="hfc-contact-input" type="text" placeholder="Email" />
</div>
<!-- Nachricht -->
<div class="hfc-contact">
  <label class="hfc-contact-label">Nachricht</label>
  <textarea class="hfc-contact-input" type="text" placeholder="Nachricht" rows="10" />
</div>
<!-- Controls -->
<div class="hfc-contact-controls">
  <!-- Submit -->
  <input class="hfc-contact-submit" type="submit" value="Senden" />
</div>
