&{
  @include flexbox();
  &:not(:last-child) {
    margin-bottom: $whitespace;
  }

  // LABEL
  .hfc-form-label {
    @include column(130px);
    color: $color-headline;
    font-family: $font-family-headline;
    font-weight: bold;
    margin-bottom: ($whitespace*0.5);
  }

  // INPUT
  .hfc-form-input {
    @include column();
    font-size: $font-size;
    border: $border;
    padding: ($whitespace*0.5) ($whitespace*0.5);
    outline: none;
  }
}
