&{
  @include flexbox();
  &:not(:last-child) {margin-bottom: ($whitespace*0.5);}

  // INPUT
  .hfc-form-label {
    @include column(130px);
    color: $color-headline;
    font-family: $font-family-headline;
    font-weight: bold;
    margin-bottom: ($whitespace*0.5);
  }
  .hfc-form-input {
    @include column();
    font-size: $font-size;
    border: $border;
    padding: ($whitespace*0.5) ($whitespace*0.5);
    outline: none;
  }

  // CHECKBOX
  .hfc-form-label-checkbox {
    cursor: pointer;
  }
  .hfc-form-checkbox {
    @include checkbox();
  }

  // RADIOBUTTON
  .hfc-form-label-radiobutton {
    cursor: pointer;
  }
  .hfc-form-radiobutton {
    @include radiobutton();
  }
}
