<label class="hfc-form-label">{{#if label}}{{label}}{{else}}Label{{/if}}</label>
{{#if placeholder}}
  <input class="hfc-form-input" type="text" placeholder="{{placeholder}}" size="1"/>
{{else}}
  <input class="hfc-form-input" type="text" placeholder="placeholder" size="1"/>
{{/if}}