&{

  .hfc-content-container {
    @include flexbox();

    &:not(:last-child) {margin-bottom: $whitespace;}
  }

  .hfc-content-headline {
    @include column(1/1);
    margin-bottom: $whitespace;
  }

  .hfc-content-image {
    @include column(350px);
    &.hfc-content-image-left{margin-right: $whitespace;}
    &.hfc-content-image-right{margin-left: $whitespace; order: 2}

    img {}

    .hfc-content-image-subtitle {
      display: block;
      color: darken($color-grey, 25%);
      padding-top: ($whitespace*0.5);
    }
  }

  .hfc-content-text {@include column();}
}
