&{

  .hfc-content-container {
    @include flexbox();

    &:not(:last-child) {margin-bottom: $whitespace;}
  }

  .hfc-content-headline {
    @include column(1/1);
    margin-bottom: $whitespace;
  }

  .hfc-content-image {
    @include column(1/1, $gutter: true);
    @include respond-above(l) {@include column(350px);}
    &.hfc-content-image-left {
      @include respond-above(l) {
        margin-right: $whitespace;
      }
    }
    &.hfc-content-image-right {
      @include respond-above(l) {
        order: 2; // right alignment
        margin-left: $whitespace;
      }
    }

    img {}

    .hfc-content-image-subtitle {
      display: block;
      font-size: $font-size-s;
      color: darken($color-grey, 25%);
      padding-top: ($whitespace*0.5);
    }
  }

  .hfc-content-text {
    @include column(1/1);
    @include respond-above(m) {
      @include column();
    }
  }
}
