<div class="hfc-content-container">
  <h2>Eine Überschrift</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime molestiae quasi molestias quia, quas ratione. In odit, expedita laboriosam! Dignissimos velit nesciunt possimus, dolores pariatur nulla dolor libero consequuntur, aliquam.</p>
  <div class="hfc-content-image hfc-content-image-left">
    <img src="/images/placeholder.png" alt="Image">
    <span class="hfc-content-image-subtitle">Eine Bildunterschrift</span>
  </div>
  <div class="hfc-content-text">
    <h3>Eine weitere Überschrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt! Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis.</p>
    <h3>Eine weitere Überschrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt! Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis consequuntur officiis nemo iure eum maxime repudiandae quibusdam explicabo temporibus illum, quasi quos sit. Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis consequuntur officiis nemo iure eum maxime repudiandae quibusdam explicabo temporibus illum, quasi quos sit.</p>
  </div>
</div>

<hr>

<div class="hfc-content-container">
  <h2>Eine Überschrift</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime molestiae quasi molestias quia, quas ratione. In odit, expedita laboriosam! Dignissimos velit nesciunt possimus, dolores pariatur nulla dolor libero consequuntur, aliquam.</p>
  <div class="hfc-content-image hfc-content-image-right">
    <img src="/images/placeholder.png" alt="Image">
    <span class="hfc-content-image-subtitle">Eine Bildunterschrift</span>
  </div>
  <div class="hfc-content-text">
    <h3>Eine weitere Überschrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt! Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis.</p>
    <h3>Eine weitere Überschrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt! Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis consequuntur officiis nemo iure eum maxime repudiandae quibusdam explicabo temporibus illum, quasi quos sit. Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis consequuntur officiis nemo iure eum maxime repudiandae quibusdam explicabo temporibus illum, quasi quos sit.</p>
  </div>
</div>

<hr>

<div class="hfc-content-container">
  <h2>Eine Überschrift</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime molestiae quasi molestias quia, quas ratione. In odit, expedita laboriosam! Dignissimos velit nesciunt possimus, dolores pariatur nulla dolor libero consequuntur, aliquam.</p>
  <div class="hfc-content-image hfc-content-image-left">
    <img src="/images/placeholder.png" alt="Image">
    <span class="hfc-content-image-subtitle">Eine Bildunterschrift</span>
  </div>
  <div class="hfc-content-text">
    <h3>Eine weitere Überschrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt! Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis.</p>
    <h3>Eine weitere Überschrift</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis beatae odio consequuntur recusandae natus odit ad, explicabo saepe neque blanditiis provident modi sed necessitatibus, incidunt! Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis consequuntur officiis nemo iure eum maxime repudiandae quibusdam explicabo temporibus illum, quasi quos sit. Molestiae nobis deleniti sed dolores dignissimos odio earum officia, assumenda praesentium debitis consequuntur officiis nemo iure eum maxime repudiandae quibusdam explicabo temporibus illum, quasi quos sit.</p>
  </div>
</div>
