<ul class="sidebar-infobox-download-container">
  <li class="sidebar-infobox-download-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-infobox-download-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-infobox-download-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-infobox-download-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
  <li class="sidebar-infobox-download-item"><a href="/other/placeholder.pdf" target="_blank">Download Title</a></li>
</ul>
