&{
  @include column(1/1, $gutter: $whitespace);
  @include respond-above(s) {@include column(1/2, $gutter: $whitespace);}
  @include respond-above(m) {@include column(1/1, $gutter: $whitespace);}
  @include respond-above(l) {@include column(1/2, $gutter: $whitespace);}
  @include respond-above(xl) {@include column(1/3, $gutter: $whitespace);}

  .teaser-container {
    @include flexbox($direction: column, $align: stretch); // For: No-Img Fallback
    box-shadow: $box-shadow;
  }

  .teaser-image{
    @include overlay();
    height: 150px;
    height: 20vh;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
  }

  .teaser-title {
    font: bold $font-size-m $font-family-headline;
    color: $color-headline;
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    border-bottom: 2px solid $color-brand;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .teaser-content{
    flex: 1; // For: No-Img Fallback
    padding: ($whitespace*0.75) $whitespace;
    margin-bottom: 0;
    font-size: $font-size-s;
  }

  .teaser-link {
    display: block;
    color: $color-headline;
    padding: ($whitespace*0.75) $whitespace;
    border-top: $border;
  }
}
