<section class="teaser-container">
  {{!-- Title --}}
  {{#link-to _link class="teaser-title"}}{{_title}}{{/link-to}}
  {{!-- Image --}}
  {{#link-to _link class="teaser-image" style=backgroundImage}}{{/link-to}}
  {{!-- Content --}}
  <p class="teaser-content">{{_content}}</p>
  {{!-- Link --}}
  {{#link-to _link class="teaser-link"}}Weiterlesen{{/link-to}}
</section>
