&{
  @include container();
  margin-bottom: $whitespace;
  background: #fff;
  border: $border;
  z-index: 0; //For: Slider overlapping navigation fix

  /* =======================================*/
  /* SWIPER SLIDER - NAVIGATION
  /* =======================================*/
  .swiper-button-next,
  .swiper-button-prev {
    @include flexbox($align: center, $justify: center);
    height: ($whitespace*3);
    width: ($whitespace*3);
    background-image: none; //For: override swiper defaults
  }

  .swiper-button-next{
    right: 0px;
    @include icon('fa-chevron-right', $font-size: 18px);
  }

  .swiper-button-prev{
    left: 0px;
    @include icon('fa-chevron-left', $font-size: 18px);
  }

  /* =======================================*/
  /* SWIPER SLIDER - PAGINATION
  /* =======================================*/
  .swiper-pagination {
    @include flexbox($justify: center, $align: center);
    height: ($whitespace*3);
    bottom: 0;
  }
  .swiper-pagination-bullets {}
  .swiper-pagination-bullet-active {background: $color-brand;}

  /* =======================================*/
  /* SWIPER SLIDER - PRELOADER
  /* =======================================*/
  .swiper-lazy-preloader {
    animation: none !important; //For: replaced with app-loader component instead
    &:after {display: none;} //For: replaced with app-loader component instead
  }
}
