&{

  .app-content-container {
    @include container();
    @include grid($align: stretch);
    border: $border;
    background: #fff;

    @include respond-below(xxl) {margin: 0 $whitespace;}
  }

  .app-content-inner {
    @include column('auto', $stacking: true);
    padding: $whitespace;
    flex: 1 0 auto !important; //For: Fixes Swiper Slider bug in content-inner (Firefox)
    width: 0; //For: Fixes Swiper Slider bug in content-inner
  }

  .app-content-aside {
    @include column('#{$width-sidebar}', $stacking: true);
    padding: $whitespace;
  }
}
