&{

  .app-content-container {
    @include container();
    @include flexbox($align: stretch);
    border: $border;
    background: #fff;

    @include respond-below(xxl) {margin: 0 $whitespace;}
  }

  .app-content-inner {
    @include column($behavior: stacking);
    padding: $whitespace;
  }

  .app-content-aside {
    @include column($width-sidebar, $behavior: stacking);
    border-left: $border;
    padding: $whitespace;
  }
}
