<section class="app-content-container">
  <div class="app-content-inner">
    {{app-breadcrumb}}
    {{outlet}}
  </div>
  <div class="app-content-aside">
    {{#sidebar-infobox title="Sidebar Liste"}}
      {{sidebar-infobox-list}}
    {{/sidebar-infobox}}

    {{#sidebar-infobox title="Infobox"}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laudantium voluptatibus dolorum nemo!</p>
    {{/sidebar-infobox}}

    {{#sidebar-infobox title="Infobox"}}
      <img class="sidebar-infobox-image" src="/images/placeholder4.png" alt="">
      <p>Lorem ipsum dolor sit amet isal lora, consectetur adipisicing elit.</p>
      <hr>
      <a href="#" class="sidebar-infobox-link">Kontakt</a>
    {{/sidebar-infobox}}

    {{#sidebar-infobox title="Sidebar Downloads"}}
      {{sidebar-infobox-download}}
    {{/sidebar-infobox}}

    {{#sidebar-infobox title="Kontakt"}}
      <p>Unternehmen</p>
      <p>
        Linderner Str. 16 <br>
        49624 Berlin
      </p>
      <p>
        Tel.: 05432/92290
      </p>
      <p>E-Mail: <a href="mailto:info@unternehmen.de">info@unternehmen.de</a></p>
    {{/sidebar-infobox}}
  </div>
</section>