<section class="app-content-container">
  <div class="app-content-inner">
    {{app-breadcrumb}}
    {{outlet}}
  </div>
  <div class="app-content-aside">
    {{#hfc-infobox title="Sidebar Liste"}}
      {{hfc-infobox-list}}
    {{/hfc-infobox}}

    {{#hfc-infobox title="Infobox"}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laudantium voluptatibus dolorum nemo!</p>
    {{/hfc-infobox}}

    {{#hfc-infobox title="Infobox"}}
      <img class="hfc-infobox-image" src="/images/placeholder2.png" alt="">
      <p>Lorem ipsum dolor sit amet isal lora, consectetur adipisicing elit.</p>
      <hr>
      <a href="#" class="hfc-infobox-link">Kontakt</a>
    {{/hfc-infobox}}

    {{#hfc-infobox title="Sidebar Downloads"}}
      {{hfc-infobox-download}}
    {{/hfc-infobox}}

    {{#hfc-infobox title="Kontakt"}}
      <p>Unternehmen</p>
      <p>
        Linderner Str. 16 <br>
        49624 Berlin
      </p>
      <p>
        Tel.: 05432/92290
      </p>
      <p>E-Mail: <a href="mailto:info@unternehmen.de">info@unternehmen.de</a></p>
    {{/hfc-infobox}}
  </div>
</section>