<ul class="sidebar-list-container">
  <li class="sidebar-list-item"><a href="#">List Item</a></li>
  <li class="sidebar-list-item"><a href="#">List Item</a></li>
  <li class="sidebar-list-item"><a href="#">List Item</a></li>
  <li class="sidebar-list-item"><a href="#">List Item</a></li>
  <li class="sidebar-list-item"><a href="#">List Item</a></li>
</ul>
