<label class="hfc-form-label">{{#if label}}{{label}}{{else}}Label{{/if}}</label>
{{#if placeholder}}
  <textarea class="hfc-form-input" type="text" placeholder="{{placeholder}}" rows="10"/>
{{else}}
  <textarea class="hfc-form-input" type="text" placeholder="placeholder" rows="10"/>
{{/if}}