<li class="hfc-infobox-list-item"><a href="#">List Item</a></li>
<li class="hfc-infobox-list-item"><a href="#">List Item</a></li>
<li class="hfc-infobox-list-item"><a href="#">List Item</a></li>
<li class="hfc-infobox-list-item"><a href="#">List Item</a></li>
<li class="hfc-infobox-list-item"><a href="#">List Item</a></li>
